<div class="game-screen" fxLayout="column">
  <div
    class="buttonBar"
    fxFlex="10"
    fxLayout="row"
    fxLayoutAlign="space-around stretch"
  >
    <div *ngFor="let button of buttons; let i = index" fxFlex="10">
      <app-flow-button
        [flowbutton]="button"
        (startFlowEvent)="startFlow(i)"
      ></app-flow-button>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div class="squareboard" [style.width.px]="gridWidthInPx" [style.height.px]="gridHeightInPx"
    fxLayout="column" fxLayoutAlign="center stretch">
      <div *ngFor="let row of grid" fxLayout="row wrap" fxFlex >
        <div *ngFor="let tile of row" fxFlex>
          <app-flow-tile [flowTile]="tile" fxFlexFill></app-flow-tile>
        </div>
      </div>
    </div>
  </div>
  <div class="info" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
      <h3>Life: {{cantTurn}} </h3>
  </div>
</div>
